[submodule "rpi4-baremetal-uart"]
	path = rpi4-baremetal-uart
	url = https://github.com/EljakimHerrewijnen/rpi4-baremetal-uart
[submodule "examples/arm64_paging/arm64-pgtable-tool"]
	path = examples/arm64_paging/arm64-pgtable-tool
	url = https://github.com/ashwio/arm64-pgtable-tool.git
